*{   padding:0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}


header.main{  background-color:#333;
        color:#ddd;
        text-align: center;
        padding: 20px; }

/*menu start*/
nav{ background-color: #ddd;  }

nav ul{  padding: 20px;
         text-align: center  }

nav ul li {  display: inline;  }
nav ul li a { color:black;
              text-decoration: none;
              font-weight: bold}
nav ul li a:hover{color: darkgreen;}

nav ul li:after{ content: " |"  }

nav ul li:last-child:after{ content: ""  }

/*menu end*/



.content{  float:left;
           width: 75%  } 
.content article{  margin: 20px 0px 20px 20px;
                   background-color: #f6f6f6;
                   border: 2px solid beige;  }

.content article ul{  margin-left: 40px  }
.content article ol{  margin-left: 40px  }

.content article header{  background-color:  #ddd; }

article section{ padding-left:70px; }

.long{ width: 200px;
       border: 1px solid red;  }

aside{  float: right;
        width: 20%;  }

aside section{  border: 1px solid #DDD;
                color: black;
                background-color: #f6f6f6;
                margin-right: 20px;
                margin-top: 20px;  }

aside section ul{ list-style: none;
                  padding-left: 10px;  }

aside section ul li{  line-height: 30px;}

aside header{  background-color: #ddd;  }

.clearfix{ clear: both;   }

footer{  background-color: #333;
         color:#ddd;
         text-align: center;    }